<ul class="rr-list">
  {{!-- {{log "VOTES"}}
  {{log model}}
  {{debugger}}
  {{#each model.votes as |vote|}}
    <li class="rr-list-item">
      {{vote}}
      {{vote.result}} <span class="rr-rating fr">{{vote.motion_text}}</span>
    </li>
  {{else}}
    <li class="tc">
      No {{model.name}} votes yet.
    </li>
  {{/each}} --}}
  <span>hello</span>
</ul>